  html,body {
    height: 100%;
  }
  bady{
    font-size: 1.4px/1.4 Aria;
    background: red;
  }
  header {
    position: relative;
     min-height: 600px;
     height: 100%;
     background: #000 url(https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1535894431&di=16dcb7207ebe956095719deac359bc60&src=http://img.zcool.cn/community/0131c8597034d3a8012193a30aebf1.jpg@1280w_1l_2o_100sh.jpg) center
     center no-repeat;
     background-size: cover;
     color: white;
  }
	header .logo {
		color: #f7ba3e;
		font-size: 36px;
		float: left;
		margin-top: 10px;
	}
	header .nav {
		float: right;
	}
	header .nav > li {
		float: left;
	}
	header .nav a{
		display: inlink-block;
		color: #fff;
		font-size: 16px;
		padding: 5px;
	}
	header .nav a:hover{
		background: #f7ba3e;
	}
  * {
		margin: 0px;
		padding: 0px;
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style: none;
	}
	.clearfix::after {
		content: '';
		display: block;
		clear: both;
	}
	.layout {
		width: 1000px;
		margin: 0 auto;
	}
	.button {
		display: inline-block;
		color: #fff;
		background: #f7ba3e;
		font-size: 18px;
		padding: 5px 10px;
		border-radius: 4px;
		opacity: 0.8;
	}
	.button:hover {
		opacity: 1;
	}
	header .intro {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: #fff;
		text-align: center;
	}
	header .intro h1{ 
		font-size: 32px;
		}
	header .intro h2{ 
		font-size: 46px; 
		margin-top: 20px;
		margin-bottom: 30px;
		}
	section {
		text-align: center;
		margin-top: 30px;
	}
	
	section > p {
		margin-top: 30px;
		font-size: 15px;
	}
	section > .family-intro > li {
		float: left;
		width: 33.33%;
	}
	section > ul .iconfont  {
		font-size: 40px;
	}
	section > ul > li > p {
		font-size:  12px;
	}
	section > ul p{
		margin-top: 10px;
	}
	section .family figure {
		width: calc(30% - 20px);
		height: 200px;
		margin: 10px;
		float: left;
	}
	section .family img {
		margin-top: 30px;
	}
	section .family a {
		height: 200px;
		display: block;
	}
	section .family figcaption {
		margin-top: 10px;
		font-size: 14px;
		font-weight: bold;
	}
	section .family src {
		padding: 5px 10px;
	}
	section .family p{
		color: #666;
}
	section .timeline img {
		 width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 3px solid lightblue;
	}
	section .timeline > li:nth-child(odd) {
		margin-top: 20px;
		padding-right: calc( 50% - 50px);
		text-align: right;
	}
	section .timeline > li::after {
		content: '';
		display: block;
		clear: both;
	}
	section .timeline li:nth-child(odd)  dl  {
		margin-right: 120px;
	}
	section .timeline > li:nth-child(even) {
		padding-left: calc( 50% - 50px);
		text-align: left;
	}
	section .timeline > li:nth-child(odd) dl {
		margin-right: 120px;
	}
	section .timeline > li:nth-child(odd) img {
		float: right;
	}
	section .timeline > li:nth-child(even) img {
		float: left;
	}
	section .timeline dt {
		font-size: 16px;
		font-weight: bold;
	}
	section .timeline > li{
		position: relative;
		margin-top: 40px;
	}
	section .timeline dd:nth-of-type(1){
		color: #666;
	}
	section .timeline > li::before {
		position: absolute;
		margin-left: 0px;
		left: 50%;
		top: 100px;
		content: '';
		display: inline-block;
		height: 40px;
		width: 2px;
		background-color: lightgreen;
	}