	 * {
		 margin: 0;
		 padding: 0;
	 }
	 body {
			background: #EFEFEF; 
			color: black;
			margin: 0;
		}
		a {
			text-decoration: none;
		}
	  .clearfix:after {
			content: '';
			display: block;
			clear: both;
		}
		.NavBar.sticky{
			background: #FFFFFF;
			opacity: 0.9;
			padding: 7px 0;
			z-index: 1;
			box-shadow: 0 0 10px rgba(0,0,0,0.25);
			color: #3d4451;
		}
		.NavBar {
			padding: 8px 0px 20px 0px;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			transition: all 1s;
			color: #9a9da2;
		}
		.NavBar-inner {
			padding: 0 16px;
		}
		.NavBar nav > ul {
			list-style: none;
			float: right;
			margin-top: 15px;
		}
		.NavBar nav > ul > li {
			float: left;
			margin-left: 17px;
			margin-right: 17px;
		}
		.NavBar nav > ul > li> a {
			font-size: 12px;
			color: inherit;
			font-weight: bold;
			position: relative;
		}
		.list{
			display: none;
			position: absolute;
			top: 45px;
			border: 1px solid grey;
		}
		.list.active{
			display: block;
		}
		.NavBar nav > ul > li> a:hover::after {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			background: #e06567;
			height: 3px;
			animation: barSlide 0.3s;
		}
		@keyframes barSlide{
			0%{width: 0;}
			100%{width: 100%;}
		}
		.NavBar a {
      float: left;
		}
		.NavBar .logo {
			font-family: 'Arial Black';
			font-size: 24px;
      padding-top: 3px;
      padding-bottom: 4px;
		}
		.NavBar .logo .rs {
			color: #e6686a;
			margin-right: 4px;
		}
		.NavBar .logo .card {
			color: #9a9da2;
			font-weight: bold;
		}
		.banner {
			background-image: url(./img/rs.jpg);
			height: 515px;
			background-position: center center;
			background-size: cover;
		}
		.banner .mask {
			height: 515px;
			background-color: rgba(0,0,0,0.8);
			
		}
		main {
			margin-top: -350px;
		}
		.usercard {
		  max-width: 940px;
			margin-left: auto;
			margin-right: auto;
			background: #ffffff;
			box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
		}
		.usercard .welcome {
			color: #ffffff;
			background-color: #e6686a;
			padding: 4px 16px;
			display: inline-block;
			line-height: 22px;;
			position: relative;
			margin-bottom: 17px;
		}
		.welcome .triangle {
			border: 10px solid transparent;
			width: 0px;
			height: 0px;
			border-left-color:  #e6686a;
			border-top-width: 0px ;
			display: inline-block;
			position: absolute;
			top: 100%;
			left: 4px;
		}
		.pt .photo {
			float: left;
		}
    .pt .text {
			float: left;
			margin-left: 65px;
		}
	  .pt {
			padding: 50px;
		}
		hr {
			width: 444px;
			height: 0px;
			border: none;
			border-top: 1px solid #DEDEDE;
		}
		.text p {
			margin-top: 7px;
		}
	  .usercard .text hr {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.usercard dl dt,
		.usercard dl dt {
			float: left;
		  
		}
		.usercard dl dt {
			width: 30%;
			font-weight: bold;
		}
		.usercard dl dd {
			width: 70%;
			color: #9da0a7;
		}
		.usercard dd {
			padding: 5px 0;
		}
		 .media{
			background-color: #e6686a;
			text-align: center;
		}
		.usercard > footer.media > a {
			display: inline-block;
			width: 40px;
			line-height: 30px;
			border-radius: 50%;
			padding: 5px 0;
			margin: 12px;
		}
		.usercard svg {
			width: 25px;
			height: 25px;
			fill: #ffffff;
			vertical-align: top;
		}
		.usercard > footer.media > a:hover {
			background-color:#CF5D5F;
		}
		.button {
			border: 1px solid #CDCFD1;
			color: #3d4451;
			font-weight: bold;
			padding: 10px;
			display: inline-block;
		}
		.wrapper {
			text-align: center;
			margin-top: 25px;
			font-size: 14px;
		}
		.button:hover {
			box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
			transition: box-shadow 0.2s;
		}
		.Intro {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			max-width: 940px;
			margin-top: 20px;
			font-size: 17px;
			font-family: kaiti;
		}
		section.portfolio,
	  section.skills {
			max-width: 940px;
			margin-left: auto;
			margin-right: auto;
		}
		section.portfolio > h2,
		section.skills > h2 {
			text-align: center;
			color: #3d4451;
			font-size: 34px;
			font-weight: 600px;
			line-height: 1.2;
			margin-top: 60px;
		}
		ul,ol {
			list-style: none;
		}
		.skills ol {
			background-color: #ffffff;
			box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
			padding: 42px 50px 23px;
			margin-top: 30px;
			box-sizing: border-box;
    }
		section .progressBar{
			border: 1px solid #FAE1E1;
			height: 3px;
			border-radius: 3px;
			width: 100%;
			margin: 4px 0 20px;
		}
		section .progress {
			height: 100%;
			background: #E6686A;
			width: 50%;
			border-radius: 3px;
		}
		section ol > li {
			float: left;
			width: 48%;
		}
		section ol > li:nth-child(even){
			float: right;
		}
		section.portfolio > nav > ol {
		text-align: center;
		margin-top: 22px;
		}
	  section.portfolio > nav  > ol > li {
			float: left;
			font-size: 14px ;
			max-width: 100px;
		}
		section.portfolio > nav > ol > li:first-child{
			margin-left: 290px;
      margin-right: -10px;
		}
		section.portfolio > nav > ol > li:nth-child(even){
			margin-left: 28px;
		}
		section.portfolio > nav > ol > li:last-child{
			margin-left: 35px;
		}
		section.portfolio {
			margin-bottom: 100px;
			cursor: pointer;
			margin-top: 32px;
		}
		section .portfoliobar {
			background-color: #ffffff;
			width: 310px;
			height: 3px;
			border-radius: 3px;
			margin-left: 325px;
			margin-top: 10px;
		}
		section .portfoliobar > .bar {
			width: 20%;
			background-color: #E6686A;
			height: 3px;
			border-radius: 3px;
			margin-left: 30%;
			transition: all 0.3s;
		}
		section .portfoliobar.state1 .bar {
			margin-left: 0px;
			width: 75px;
		}
		section .portfoliobar.state2 .bar {
			margin-left: 83px;
			width: 108px;
		}
		section .portfoliobar.state3 .bar {
			margin-left: 233px;
			width: 78px;
		}
		section.portfolio .works {
			position: relative;
			margin-top: 20px;
		}
		section.portfolio .works .big,
		section.portfolio .works .small  {
			position: absolute;
		}